<?xml version ="1.0" encoding ="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name ="RPS" verbose ="1" >
<parameter name ="paper" value ="PAPER"/>
<parameter name ="rock" value ="ROCK"/>
<parameter name ="scissors" value ="SCISSORS"/>

<test name ="testWinPlay">
    <classes>
        <class name ="fr.p10.miage.rps.model.RockPaperScissorsTest">
        <methods>
        <include name ="testWinPlay"></include>
        </methods>
        </class>
    </classes>
</test>

    <test name ="testTiePlay">
        <classes>
            <class name ="fr.p10.miage.rps.model.RockPaperScissorsTest">
                <methods>
                    <include name ="testTiePlay"></include>
                </methods>
            </class>
        </classes>
    </test>

</suite>